
<form id="new_player" action="connect_wordhat" method="post" > {% csrf_token %}
  <input id="player_id" type="hidden" name="player_id" value={{player_id}}>
  <label for="wordhat_name">Wordhat name:</label>
  <input id="wordhat_name" type="text" name="wordhat_name">
  <input type="submit" value="Let's go">
</form>
