
<form id="new_player" action="add_player" method="post" > {% csrf_token %}
  <label for="player_name">Name:</label>
  <input id="player_name" type="text" name="player_name">
  <input type="submit" value="Let's go">
</form>
