<h1>{{player_name}}</h1>

{% if wordhat_list|length %}
  <h3>Word hats you're part of:</h3>
  <ul>
    {% for wordhat in wordhat_list %}
      <li class="wordhat">
        <span> {{wordhat.hatname}} </span>
        <a class="edit_wordhat" href="{{edit_wordhat_link_base}}{{wordhat.id}}">
          <span> Edit </span>
        </a>
        <a class="play_wordhat" href="{{play_wordhat_link_base}}{{wordhat.id}}">
          <span> Play </span>
        </a>
        <a class="results_link" href="{{results_link_base}}{{wordhat.id}}">
          <span> See results </span>
        </a>
        <a id="{{wordhat.id}}" class="force_new_round">
          <span> Next round </span>
        </a>

      </li>
    {% endfor %}
  </ul>
{% endif %}

<a href="{{connect_to_wordhat_link}}">
  <h3>Click here to connect to a word hat</h3>
</a>
<a href="{{start_new_wordhat_link}}">
  <h3>Click here to start a new word hat</h3>
</a>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>
  $('.force_new_round').click(function(event) {

    let wordhat_id = $(this).attr('id');
    console.log("Resetting wordhat with id ", wordhat_id);

    $.ajax({
    url: 'new_round',
    type: 'POST',
    headers: {'X-CSRFToken': '{{ csrf_token }}'},
    data: {
        wordhat_id: wordhat_id
    },
    success: function(msg) {
        alert("New round started.")
    }});
  });
</script>
