<style>
  #word {
    color: blue;
  }
  #markings {
    display:flex;
  }
  #mark_correct {
    margin: 5px;
    color: limegreen;
  }
  #mark_incorrect {
    margin: 5px;
    color: red;
  }
  #skip {
    margin: 5px;
    color: orange;
  }
</style>
<h1>You have 30 seconds</h1>

<h2>Your word:</h2>
<h1><span id="word"></span></h1>

<div id="markings">
  <span>
    <h3 id="mark_correct">Mark correct</h3>
  </span>
  <span>
    <h3 id="mark_incorrect">Mark Incorrect</h3>
  </span>
  <span>
    <h3 id="skip">Skip</h3>
  </span>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>
  function submit_word_result(url) {

    word_id = $('#word').data('id');

    $.ajax({
    url: url,
    type: 'POST',
    headers: { "X-CSRFToken": '{{csrf_token}}' },
    data: {
        player_id: {{player_id}},
        word_id: word_id
    },
    success: function(msg) {
      // alert('Success!');
    }});
  }

  function get_new_word()
  {
    console.log("Retrieving new word");

    $.ajax({
      url: 'get_random_word',
      type: 'GET',
      headers: { "X-CSRFToken": '{{csrf_token}}' },
      data: {
        wordhat_id: {{wordhat_id}}
      },
      success: function(data) {
        console.log("Get random word succeeded", data.word_id, data.word);

        if (data.word_id) {
          $('#word').data('id', data.word_id);
          $('#word').text(data.word);
          console.log("Data id: ", $('#word').data());
        }
        else {
          alert('There are no words left!');
          window.location.href = '{{playerpage_url}}';
        }
      }
    })
  }

  $('#mark_correct').click( function() {
      submit_word_result('mark_correct');
      get_new_word();
  });

  $('#mark_incorrect').click( function() {
      submit_word_result('mark_incorrect');
      get_new_word();
  });

  $('#skip').click( function() {
      get_new_word();
  });

  get_new_word();
</script>
