<h1>Results</h1>

<ul>
  {% for player in player_list %}

  <li>
    <span class="player_name">
      {{player.name}}
    </span>
    <span class="player_score">
      {{player.words_guessed}}
    </span>
  </li>

  {% endfor %}
</ul>
