
<h5>Number of words in hat: {{total_word_num}}</h5>

<h5>Words submitted so far by you:</h5>
<ul id="wordlist"></ul>

<form id="submit_words" method="post" > {% csrf_token %}
  <input id="player" name="player" type="hidden" value={{player}}>
  <input id="wordhat" name="wordhat" type="hidden" value={{wordhat}}>
  <label for="word_to_submit">New word:</label>
  <input id="word_to_submit" type="text" name="word">
  <input type="submit" value="Add word">
</form>

<input href="" type="button" value="Back to player page" />

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>
  function add_word_to_list(word) {
    $('#wordlist').append(`<li class='hatword'>${word}</li>`);
  }

  {% for word in user_words %}
    add_word_to_list( "{{word}}" )
  {% endfor %}

  $('#submit_words').on('submit', function() {
    submitbox = $('#word_to_submit')
    new_word = submitbox.val();

    $.ajax({
    url: 'submit_word',
    type: 'POST',
    data: {
        player: $('#player').val(),
        wordhat: $('#wordhat').val(),
        new_word: new_word,
        csrfmiddlewaretoken: $("[name=csrfmiddlewaretoken]").val()
        <!-- headers: {'X-CSRFToken': '{{ csrf_token }}'}, -->
    },
    success: function(msg) {
        add_word_to_list(new_word);
    }});

    console.log("Submitted words");

    submitbox.val("")

    return false;
  });
</script>
